p {
  padding: 1%;
  text-align: justify;
}

h1, h4, h3{
  margin: 2%;
}

section ul {
  background-color: #000;
  display: flex;
  justify-content: center;
  border-color: #000;
  padding: 10%;
  height: 40px;
}

section ul li {
  list-style: none;
  margin: 1% 15px;
}

section ul li a {
  position: relative; 
  display: block;
  width: 20px;
  height: 35px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 80%;
  font-size: 30px;
  color: #666;
  transition: .5s;
  box-shadow: 0 0 12px #FFD800;
}

section ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

section ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

section ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.green {
  background-color: #2E8B57;
}

.orange {
  background-color: #FF4500;
}

.yellow {
  background-color: #FFA500;
}

.red {
  background-color: #800000;
}

.purple {
  background-color: #4B0082;
}

.blue {
  background-color: #191970;
}

.homehr {
    height:2px; 
    border:none; 
    color:#000; 
    background-color: purple;
    margin-top: 0px; margin-bottom: 0px;"
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
}

.home img{
  width: 50%;
  height: 50%;
}

@-webkit-keyframes example {
    from {background-color: black;}
    to {background-color: #FFD800;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: black;}
    to {background-color: #FFD800;}
}

.image_main {
  position: absolute;
  top: 15%;
  left: 30%;
}


.circle {
  padding-top: 20%;
}

.circle img {
  width: 100%;
  height: 100%;
}

.icon {
  width: 76px;
  height: 76px;
  top: -200px;
  margin: 0 auto;
  position: relative;
}
.icon:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear;
}
.outerCircle {
  background-color: transparent;
  border: 8px solid rgba(80, 80, 80, 0.9);
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 100px;
  width: 103px;
  height: 103px;
  margin: 0 auto;
  -moz-animation: spinPulse 3s infinite ease-in-out;
  -webkit-animation: spinPulse 3s infinite ease-in-out;
}
.innerCircle {
  background-color: transparent;
  border: 5px solid rgba(255, 0, 0, 0.6);
  opacity: .9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 100px;
  top: -110px;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  position: relative;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
  50% { -webkit-transform:rotate(145deg); opacity:1;}
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
    0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}

#myCanvas {
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 20px;
  padding-right: 3%;
  border-top-left-radius: 15px;
  border-end-end-radius: 15px;
}

@media(max-width: 800px) {
  #myCanvas {
   width: 300px;
  }
}